@import url('./reset.css');

/* Custom Style */
html{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(245,246,253);
    color: aqua;
}

#root{
    max-width: 1200px;
    width: 100%;
    margin: 1rem auto;
    padding: 0 1rem;
}

h1{
text-align:  center;
margin: 1.5rem auto;
font-size: 3.2rem;
font-weight: 700;
color:black;
}
h1 hr{
    border:2px solid rgb(181,155,111);
    width:7rem;
    
}


.flex{
    display:  flex;
}

.justify-between{
    justify-content:  center;
}

.justify-start{
    justify-content: flex-start
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-40{
    flex: 0 1 40%;
}

.flex-60{
    flex: 0 1 60%;
}

.full-width{
    width: 100%;
    object-fit: cover;
}

article{
    flex: 0 1 48%;
    border: .1px solid rgb(181,155,111);
    border-radius:.5rem ;
    padding: .8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
}

.img-container{
    border: 4px solid rgb(181,155,111);
    border-radius: .5rem;
    font-size: 0;
    overflow: hidden;
}

.details{
    border-radius: .5rem;
    padding:.2rem ;
    padding-left: 1rem;
    position: relative;
}

span{
    position: absolute;
    right: 2px;
    top:2px;
    font-weight: 900;
    font-size: 1.1rem;
    color:rgb(181,155,111)
}

h2{
    font-size: 1.2rem;
    font-weight: 700;
    /* font-style: italic; */
    color: black;
}
hr{
    border-style: dashed;
    color:rgb(148,150,177);
}
p{
    padding-top: 1rem;
    color:rgb(148,150,177);
    font-weight: 700;
}

li{
    border: 2px solid white;
    padding: .5rem 1rem;
    border-radius: .4rem;
    margin: 1rem .5rem;
    color:rgb(181,155,111);
    font-weight: 600;
}

li:hover{
    cursor:pointer;
    color:white;
    background-color: rgb(181,155,111);
    border: 2px solid blue;
    box-shadow: 0px 1px 0px 1px white;
}

.active{
    color:black;
    background-color: rgb(240, 238, 238);
    border: 2px solid blue;
}
