@import url('./reset.css');

/* Custom Styles */
html{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(106, 134, 104);
}

#root{
    padding: 3rem ;
    color:white;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1{
    font-weight: 600;
    font-size: 1.25rem;
    padding: .25rem 0 .25rem 0;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 2rem;
}

.questionbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid  rgba(0,0,0,.5);
    border-radius: .5rem;
    padding: 1.25rem .5rem;
    margin-top: 1rem;
}

span{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: rgb(245, 160, 177);
    
} 

span:hover{
    cursor: pointer;
}

.answerbox{
    padding: 2rem .5rem;
    background-color: rgba(0,0,0,.5);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.active{
    border-radius:0;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}